<a href="https://colab.research.google.com/github/LuisFilipe404/RAD-Projeto/blob/Develop/projeto_dev_rapido_em_phytom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#montando a partição do google drive para acessar os arquivos 

from google.colab import drive
drive.mount('/content/drive',True)

Mounted at /content/drive

In [ ]:
#lendo uma base de dados no formato .csv.
#o parametro sep e usado para definir qual o separador entre os dados
# o parametro header informo em qual linha esta minha coluna ou se elas nao existem
#se nao existe colunas (header=nome) o pandas dara um numero para cada atributo da base

arquivo = '/content/drive/MyDrive/Colab Notebooks/mortes por hiv por idade.csv'
dataset = pd.read_csv(arquivo,sep=',',header = 0)

print('base carregada com sucesso')

base carregada com sucesso

In [ ]:
!pip install cufflinks
!pip install plotly
!pip install chart_studio

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: cufflinks in /usr/local/lib/python3.9/dist-packages (0.17.3)
Requirement already satisfied: ipython>=5.3.0 in /usr/local/lib/python3.9/dist-packages (from cufflinks) (7.34.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.9/dist-packages (from cufflinks) (1.16.0)
Requirement already satisfied: plotly>=4.1.1 in /usr/local/lib/python3.9/dist-packages (from cufflinks) (5.13.1)
Requirement already satisfied: ipywidgets>=7.0.0 in /usr/local/lib/python3.9/dist-packages (from cufflinks) (7.7.1)
Requirement already satisfied: colorlover>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from cufflinks) (0.3.0)
Requirement already satisfied: numpy>=1.9.2 in /usr/local/lib/python3.9/dist-packages (from cufflinks) (1.22.4)
Requirement already satisfied: setuptools>=34.4.1 in /usr/local/lib/python3.9/dist-packages (from cufflinks) (67.6.1)
Requirement already satisfied: pandas>=0.19.2 in /usr/local/lib/python3.9/dist-packages (from cufflinks) (1.5.3)
Requirement already satisfied: pygments in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->cufflinks) (2.14.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->cufflinks) (0.1.6)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->cufflinks) (3.0.38)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->cufflinks) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->cufflinks) (0.18.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->cufflinks) (5.7.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->cufflinks) (4.4.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->cufflinks) (0.2.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.9/dist-packages (from ipython>=5.3.0->cufflinks) (0.7.5)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.9/dist-packages (from ipywidgets>=7.0.0->cufflinks) (3.6.4)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from ipywidgets>=7.0.0->cufflinks) (3.0.7)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.9/dist-packages (from ipywidgets>=7.0.0->cufflinks) (5.5.6)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.9/dist-packages (from ipywidgets>=7.0.0->cufflinks) (0.2.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.19.2->cufflinks) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.19.2->cufflinks) (2022.7.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from plotly>=4.1.1->cufflinks) (8.2.2)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.9/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.9/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (6.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.9/dist-packages (from jedi>=0.16->ipython>=5.3.0->cufflinks) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.9/dist-packages (from pexpect>4.3->ipython>=5.3.0->cufflinks) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.9/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->cufflinks) (0.2.6)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.9/dist-packages (from widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (6.4.8)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (3.1.2)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (21.3.0)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (23.2.1)
Requirement already satisfied: jupyter-core>=4.6.1 in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (5.3.0)
Requirement already satisfied: nbformat in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (5.8.0)
Requirement already satisfied: nest-asyncio>=1.5 in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (1.5.6)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (1.8.0)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (0.16.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (0.17.1)
Requirement already satisfied: nbconvert in /usr/local/lib/python3.9/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (6.5.4)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.9/dist-packages (from jupyter-core>=4.6.1->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (3.2.0)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.9/dist-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (21.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (2.1.2)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (4.9.2)
Requirement already satisfied: bleach in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (6.0.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (4.11.2)
Requirement already satisfied: tinycss2 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (1.2.1)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (0.8.4)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (0.4)
Requirement already satisfied: nbclient>=0.5.0 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (0.7.3)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (0.7.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (23.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (1.5.0)
Requirement already satisfied: jupyterlab-pygments in /usr/local/lib/python3.9/dist-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (0.2.2)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.9/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (2.16.3)
Requirement already satisfied: jsonschema>=2.6 in /usr/local/lib/python3.9/dist-packages (from nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (4.3.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (0.19.3)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.9/dist-packages (from jsonschema>=2.6->nbformat->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (22.2.0)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (2.4)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (0.5.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.6.0->ipywidgets>=7.0.0->cufflinks) (2.21)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: plotly in /usr/local/lib/python3.9/dist-packages (5.13.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from plotly) (8.2.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: chart_studio in /usr/local/lib/python3.9/dist-packages (1.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from chart_studio) (1.16.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.9/dist-packages (from chart_studio) (1.3.4)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from chart_studio) (2.27.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.9/dist-packages (from chart_studio) (5.13.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.9/dist-packages (from plotly->chart_studio) (8.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->chart_studio) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->chart_studio) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->chart_studio) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->chart_studio) (3.4)

In [ ]:
import cufflinks as cf
from plotly.offline import plot, iplot
import pandas as pd
import numpy as np
import plotly.graph_objs as go
import plotly.io as pio

In [ ]:
import cufflinks as cf
cf.go_offline()
import plotly
import plotly.graph_objs as go
import plotly.offline as py
import chart_studio.plotly as pyo

In [ ]:
import plotly.offline as py
import plotly.graph_objs as go

In [ ]:
#conecxao com o chart studio oline para montar o prototipo da dashboard
import chart_studio
import chart_studio.plotly as pyo
chart_studio.tools.set_credentials_file(username='rafaelf', api_key='Xb5ZjGzje0eGCmjP1bOF')

In [ ]:
df = pd.DataFrame(dataset)

In [ ]:
# Separar por continente
africa = ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad', 'Comoros', 'Democratic Republic of Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Republic of Congo', 'Rwanda', 'São Tomé and Príncipe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Swaziland', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Western Sahara', 'Zambia', 'Zimbabwe']
north_america = ['American Samoa', 'Bahamas', 'Belize', 'Bermuda', 'Canada', 'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'El Salvador', 'Greenland', 'Grenada', 'Guadeloupe', 'Guatemala', 'Haiti', 'Honduras', 'Jamaica', 'Martinique', 'Mexico', 'Nicaragua', 'Panama', 'Puerto Rico', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines', 'Trinidad and Tobago', 'Turks and Caicos Islands', 'United States', 'United States Virgin Islands']
south_america = ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Falkland Islands (Malvinas)', 'French Guiana', 'Guyana', 'Paraguay', 'Peru', 'South Georgia and the South Sandwich Islands', 'Suriname', 'Uruguay', 'Venezuela']
asia = ['Afghanistan', 'Bahrain', 'Bangladesh', 'Bhutan', 'British Indian Ocean Territory', 'Brunei', 'Cambodia', 'China', 'Christmas Island', 'Cocos (Keeling) Islands', 'Cyprus', 'Georgia', 'Hong Kong SAR', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Macao SAR', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestine', 'Philippines', 'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Taiwan', 'Tajikistan', 'Thailand', 'Timor-Leste', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen']
europe = ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czechia', 'Denmark', 'Estonia', 'Faroe Islands', 'Finland', 'France', 'Germany', 'Gibraltar', 'Greece', 'Guernsey', 'Holy See', 'Hungary', 'Iceland', 'Ireland', 'Isle of Man', 'Italy', 'Jersey', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Svalbard and Jan Mayen', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom']
oceania = ['Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Micronesia (country)', 'Nauru', 'New Zealand', 'Palau', 'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']

In [ ]:
# Criar DataFrames por continentes
africa_df = df[df['Entity'].isin(africa)]
north_america_df = df[df['Entity'].isin(north_america)]
south_america_df = df[df['Entity'].isin(south_america)]
asia_df = df[df['Entity'].isin(asia)]
europe_df = df[df['Entity'].isin(europe)]
oceania_df = df[df['Entity'].isin(oceania)]

In [ ]:
df.head()

,Entity,Code,Year,Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Rate),Deaths - HIV/AIDS - Sex: Both - Age: 70+ years (Rate),Deaths - HIV/AIDS - Sex: Both - Age: 5-14 years (Rate),Deaths - HIV/AIDS - Sex: Both - Age: 15-49 years (Rate),Deaths - HIV/AIDS - Sex: Both - Age: 50-69 years (Rate),Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Rate)
0,Afghanistan,AFG,1990,0.495248,0.418020,0.008441,0.323536,0.543707,0.300397
1,Afghanistan,AFG,1991,0.494029,0.435920,0.010475,0.357054,0.606223,0.324489
2,Afghanistan,AFG,1992,0.460988,0.467378,0.012385,0.371633,0.661293,0.332667
3,Afghanistan,AFG,1993,0.470396,0.500739,0.014474,0.392630,0.709536,0.349258
4,Afghanistan,AFG,1994,0.521467,0.532786,0.016822,0.428126,0.750948,0.378598

In [ ]:
df.columns

Index(['Entity', 'Code', 'Year',
       'Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Rate)',
       'Deaths - HIV/AIDS - Sex: Both - Age: 70+ years (Rate)',
       'Deaths - HIV/AIDS - Sex: Both - Age: 5-14 years (Rate)',
       'Deaths - HIV/AIDS - Sex: Both - Age: 15-49 years (Rate)',
       'Deaths - HIV/AIDS - Sex: Both - Age: 50-69 years (Rate)',
       'Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Rate)'],
      dtype='object')

In [ ]:
df["Entity"].unique()

array(['Afghanistan', 'African Region (WHO)', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Asia & Pacific (WB)',
       'Eastern Mediterranean Region (WHO)', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe & Central Asia (WB)',
       'European Region (WHO)', 'Fiji', 'Finland', 'France', 'G20',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America & Caribbean (WB)', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Middle East & North Africa (WB)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America (WB)', 'North Korea', 'North Macedonia',
       'Northern Ireland', 'Northern Mariana Islands', 'Norway',
       'OECD Countries', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Region of the Americas (WHO)', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia (WB)', 'South Korea', 'South Sudan',
       'South-East Asia Region (WHO)', 'Spain', 'Sri Lanka',
       'Sub-Saharan Africa (WB)', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wales', 'Western Pacific Region (WHO)', 'World',
       'World Bank High Income', 'World Bank Low Income',
       'World Bank Lower Middle Income', 'World Bank Upper Middle Income',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 9 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Entity                                                   6840 non-null   object
 1   Code                                                     6150 non-null   object
 2   Year                                                     6840 non-null   int64
 3   Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Rate)      6840 non-null   float64
 4   Deaths - HIV/AIDS - Sex: Both - Age: 70+ years (Rate)    6840 non-null   float64
 5   Deaths - HIV/AIDS - Sex: Both - Age: 5-14 years (Rate)   6840 non-null   float64
 6   Deaths - HIV/AIDS - Sex: Both - Age: 15-49 years (Rate)  6840 non-null   float64
 7   Deaths - HIV/AIDS - Sex: Both - Age: 50-69 years (Rate)  6840 non-null   float64
 8   Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Rate)     6840 non-null   float64
dtypes: float64(6), int64(1), object(2)
memory usage: 481.1+ KB

In [ ]:
df

,Entity,Code,Year,Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Rate),Deaths - HIV/AIDS - Sex: Both - Age: 70+ years (Rate),Deaths - HIV/AIDS - Sex: Both - Age: 5-14 years (Rate),Deaths - HIV/AIDS - Sex: Both - Age: 15-49 years (Rate),Deaths - HIV/AIDS - Sex: Both - Age: 50-69 years (Rate),Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Rate)
0,Afghanistan,AFG,1990,0.495248,0.418020,0.008441,0.323536,0.543707,0.300397
1,Afghanistan,AFG,1991,0.494029,0.435920,0.010475,0.357054,0.606223,0.324489
2,Afghanistan,AFG,1992,0.460988,0.467378,0.012385,0.371633,0.661293,0.332667
3,Afghanistan,AFG,1993,0.470396,0.500739,0.014474,0.392630,0.709536,0.349258
4,Afghanistan,AFG,1994,0.521467,0.532786,0.016822,0.428126,0.750948,0.378598
...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,102.960380,175.881238,47.840793,278.067824,493.105991,207.140332
6836,Zimbabwe,ZWE,2016,86.071821,169.873837,48.983077,248.936285,477.071021,189.688051
6837,Zimbabwe,ZWE,2017,78.118873,159.417560,48.724186,217.075988,449.758871,170.885840
6838,Zimbabwe,ZWE,2018,68.919673,147.767360,40.113525,185.795603,418.407646,149.638725
6839,Zimbabwe,ZWE,2019,66.069010,141.117752,34.285731,168.218265,400.915237,138.048394

In [ ]:
df.describe()

,Year,Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Rate),Deaths - HIV/AIDS - Sex: Both - Age: 70+ years (Rate),Deaths - HIV/AIDS - Sex: Both - Age: 5-14 years (Rate),Deaths - HIV/AIDS - Sex: Both - Age: 15-49 years (Rate),Deaths - HIV/AIDS - Sex: Both - Age: 50-69 years (Rate),Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Rate)
count,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000,6840.000000
mean,2004.500000,28.027880,25.183789,3.091312,49.885047,62.393346,35.031009
std,8.656074,87.216637,77.275215,9.025507,143.676231,183.237740,100.975823
min,1990.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1997.000000,0.251720,0.120910,0.037205,0.841428,0.843393,0.657774
50%,2004.500000,1.367466,0.956774,0.150445,4.209911,3.524583,3.111421
75%,2012.000000,7.677209,7.680056,0.909192,22.306623,22.785680,15.672513
max,2019.000000,908.229658,755.125959,80.336527,1462.538983,1830.717301,999.201314

In [ ]:
df.tail()

,Entity,Code,Year,Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Rate),Deaths - HIV/AIDS - Sex: Both - Age: 70+ years (Rate),Deaths - HIV/AIDS - Sex: Both - Age: 5-14 years (Rate),Deaths - HIV/AIDS - Sex: Both - Age: 15-49 years (Rate),Deaths - HIV/AIDS - Sex: Both - Age: 50-69 years (Rate),Deaths - HIV/AIDS - Sex: Both - Age: All Ages (Rate)
6835,Zimbabwe,ZWE,2015,102.960380,175.881238,47.840793,278.067824,493.105991,207.140332
6836,Zimbabwe,ZWE,2016,86.071821,169.873837,48.983077,248.936285,477.071021,189.688051
6837,Zimbabwe,ZWE,2017,78.118873,159.417560,48.724186,217.075988,449.758871,170.885840
6838,Zimbabwe,ZWE,2018,68.919673,147.767360,40.113525,185.795603,418.407646,149.638725
6839,Zimbabwe,ZWE,2019,66.069010,141.117752,34.285731,168.218265,400.915237,138.048394

In [ ]:
# para executar comando diretamente no terminal da maquina, ultilizar `!` antes do comando


# instalando o pandas-profiling

!pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
  Using cached https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
  Preparing metadata (setup.py) ... done
Requirement already satisfied: scipy<1.10,>=1.4.1 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (1.9.3)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (1.5.3)
Requirement already satisfied: matplotlib<3.7,>=3.2 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (3.6.3)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (1.10.7)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (6.0)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (3.1.2)
Requirement already satisfied: visions[type_image_path]==0.7.5 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (0.7.5)
Requirement already satisfied: numpy<1.24,>=1.16.0 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (1.22.4)
Requirement already satisfied: htmlmin==0.1.12 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (0.12.3)
Requirement already satisfied: requests<2.29,>=2.24.0 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (2.27.1)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (4.64.1)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (0.12.2)
Requirement already satisfied: multimethod<1.10,>=1.4 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (1.9.1)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (0.13.5)
Requirement already satisfied: typeguard<2.14,>=2.13.2 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (2.13.3)
Requirement already satisfied: imagehash==4.3.1 in /usr/local/lib/python3.9/dist-packages (from ydata-profiling==0.0.dev0) (4.3.1)
Requirement already satisfied: PyWavelets in /usr/local/lib/python3.9/dist-packages (from imagehash==4.3.1->ydata-profiling==0.0.dev0) (1.4.1)
Requirement already satisfied: pillow in /usr/local/lib/python3.9/dist-packages (from imagehash==4.3.1->ydata-profiling==0.0.dev0) (8.4.0)
Requirement already satisfied: attrs>=19.3.0 in /usr/local/lib/python3.9/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0) (22.2.0)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in /usr/local/lib/python3.9/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0) (0.2.0)
Requirement already satisfied: networkx>=2.4 in /usr/local/lib/python3.9/dist-packages (from visions[type_image_path]==0.7.5->ydata-profiling==0.0.dev0) (3.1)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2<3.2,>=2.11.1->ydata-profiling==0.0.dev0) (2.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.9/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling==0.0.dev0) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling==0.0.dev0) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling==0.0.dev0) (23.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.9/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling==0.0.dev0) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling==0.0.dev0) (1.0.7)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.9/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling==0.0.dev0) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.9/dist-packages (from matplotlib<3.7,>=3.2->ydata-profiling==0.0.dev0) (4.39.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas!=1.4.0,<1.6,>1.1->ydata-profiling==0.0.dev0) (2022.7.1)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.9/dist-packages (from phik<0.13,>=0.11.1->ydata-profiling==0.0.dev0) (1.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.9/dist-packages (from pydantic<1.11,>=1.8.1->ydata-profiling==0.0.dev0) (4.5.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<2.29,>=2.24.0->ydata-profiling==0.0.dev0) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<2.29,>=2.24.0->ydata-profiling==0.0.dev0) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<2.29,>=2.24.0->ydata-profiling==0.0.dev0) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<2.29,>=2.24.0->ydata-profiling==0.0.dev0) (2.0.12)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.9/dist-packages (from statsmodels<0.14,>=0.13.2->ydata-profiling==0.0.dev0) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.2->statsmodels<0.14,>=0.13.2->ydata-profiling==0.0.dev0) (1.16.0)

In [ ]:
#inportando o pandas- profiling

import pandas_profiling

print ('panda importado com sucesso')

panda importado com sucesso

In [ ]:
#gerando profiling

#profile = pandas_profiling.ProfileReport(dataset)
#profile
#o arquivo de html com uns resumos

In [ ]:
# salvando o profile em html
#profile.to_file("/content/drive/MyDrive/DevRap.html")

vou começar a plotar alguns graficos a partir daqui e fazer algumas variaveis que podem ser usadas na formatação dos graficos

In [ ]:
#começando a puxar dados de mortes por ano no continente africano e somando para assim conseguir colocar no grafico

dados_por_ano_africa = africa_df.groupby('Year')
#usando esse de baixo pra conerir se agrupou coretamente 
#dados_1990 = dados_por_ano_africa.get_group(1990)
#somando os dados dos paises da africa 
soma_por_ano_africa = dados_por_ano_africa.sum()
#chamando esses dados para ver como ficou
soma_por_ano_africa

<ipython-input-42-fc188f661748>:7: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

,Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number),Deaths - HIV/AIDS - Sex: Both - Age: 70+ years (Number),Deaths - HIV/AIDS - Sex: Both - Age: 5-14 years (Number),Deaths - HIV/AIDS - Sex: Both - Age: 15-49 years (Number),Deaths - HIV/AIDS - Sex: Both - Age: 50-69 years (Number)
Year,,,,,
1990,64550,3321,1898,154823,27915
1991,80050,4323,2776,201682,36488
1992,96649,5518,3923,256962,46766
1993,113895,6900,5414,320020,58592
1994,130618,8434,7296,389682,71810
1995,146367,10082,9556,464068,85989
1996,159897,11780,12133,540846,100756
1997,171005,13457,14938,618913,115712
1998,181966,15100,18129,695522,130374
1999,190132,16609,21487,768527,143913
2000,194400,17966,24975,835568,156889
2001,196463,19055,28264,890746,170820
2002,196269,19906,31301,936260,182361
2003,193915,20506,34188,969654,191867
2004,189906,20712,36789,984343,198119
2005,181855,20336,38133,973884,198739
2006,168302,19265,38326,937798,192741
2007,154440,17761,38361,879712,182074
2008,141259,16092,38149,813570,169125
2009,126576,14649,37425,755026,157419
2010,111829,13594,36209,707762,148946
2011,98429,12740,34770,663613,142549
2012,86657,11923,34123,614253,136319
2013,76773,11255,33423,568776,131404
2014,68547,10910,32083,536117,129567
2015,60508,10802,30623,514458,130104
2016,53908,10906,29135,498742,131914
2017,48200,10839,26981,474467,131796
2018,42590,10562,24705,441204,129039
2019,38992,10459,23637,423185,128139

In [ ]:
pio.renderers.default = ('colab')

<h1></h1>

In [ ]:
#plotando o primeiro grafico com relaçao a mortes no continente africano de crianças menores de 5 anos a cada ano
import plotly.graph_objs as go
import plotly.offline as py
import plotly.graph_objs as go

data = [go.Bar(x=africa_df['Year'].values,
               y=soma_por_ano_africa['Deaths - HIV/AIDS - Sex: Both - Age: Under 5 (Number)']
               )
        ]
               

#criando layout
configuracoes_layout = go.Layout(title='mortes no continente africano a cada ano de pessoas com menos de 5 anos',
                                 yaxis={'title': 'numero de mortes'},
                                 xaxis={'title': 'Período'})

#objeto figura

fig = go.Figure(data=data, layout=configuracoes_layout)

#plotando o grafico
py.iplot(fig)
#pyo.plot(fig)